.cabecalho_menu-hamburger{
  width:24 px;
  height: 24 px;
  display:inline-block
  background-image: url ("../img/Menu.svg")
  background-repeat: no-repeat;
  background-position:center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
   display:nome; 
 position: absolute;
  top:100%
  widht:60vw;
}

.container_botao:checked ~.lista-menu {
   display:block;
}

.lista-menu-titulo
.lista.menu-item { 
     padding: 1em;
     background-color: Var(- - branco)
}

.lista-menu-titulo {
  color: Var (- - laranja);
  font-weight:700;
}

.lista-menu-link {
  background: Var (- - azul-degrade);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  background-clip: text;-.
  text-transform: upperiase;
}

.container-botao {
  display: none;
}
.container__texto{
  display__none;
}

@media screen (min-width: 1024px) {
  .container_titulo,
  container_titulo-negrito{
    font-family: var (--fonte-segundario);
    font-size: 30px;
  }
.container_titulo {
  font-weight: 400;
  display: block;
}


.container_titulo-negrito {
  font-weight: 700;
}
 
.opcoes {
  display: flex;
}

.opcoes__item {
  padding: 0 1em;
  text-transform: uppercase;
}

.opcoes__link {
  text-decoration: none;
  color: var(--preto);
}

.container__imagem-transparente {
  display: none;
}

.cabeçalho__menu-hamburguer {
  display: none;
}

.opcoes__botão:checked~.lista-menu {
  display: block;
  width: auto;
}

.opcoes__botão {
  display: none;
}
}

@media screen and (min-width: 1728px) {
  .container__link {
  display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
    padding-right: 30px;
}

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
}
